* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.task__title {
  text-align: center;
  margin-top: 20px;
}
.task__description {
  width: 70%;
  margin: 0 auto 10px;
  text-align: center;
}
.map__container {
  min-height: 70vh;
}

.pointer {
  cursor: pointer;
}
